button[color="warn"] {
    color: rgb(244, 40, 40) !important;
}

button[color="primary"] {
    color: rgb(56, 56, 239) !important;
}

button[color="warn"]:hover {
    color: darkred !important;
}

button[color="primary"]:hover {
    color: darkblue !important;
}

@keyframes squishBounceJump {
    0% {
      transform: scale(1) translateY(0);
    }
    25% {
      transform: scale(1.1) translateY(-10px);
    }
    50% {
      transform: scale(0.9) translateY(10px);
    }
    75% {
      transform: scale(1.1) translateY(-10px);
    }
    100% {
      transform: scale(1) translateY(0);
    }
  }
  
  
  
  button[mat-icon-button]:hover {
    animation: squishBounceJump 1s ease-in-out infinite;
  }
.overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 50%;
    z-index: 1000;
}

.overlay-content {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
}

.data-box {
    /* Background color */
    background-color: #f3f4f6; /* Light gray background */

    /* Border styling */
    border: 1px solid #e0e0e0; /* Light gray border */

    /* Padding for content spacing */
    padding: 16px; /* Internal padding for content */

    /* Box shadow for depth */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

    /* Text alignment and spacing */
    text-align: center;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;

    /* Responsive Design */
    @media (max-width: 768px) {
        flex-direction: column; /* Stack items vertically on smaller screens */
    }
}

/* Label styling */
.data-box p:first-child {
    font-weight: bold;
    color: #374151; /* Darker gray for labels */
    font-size: 14px;
}

/* Value styling */
.data-box p:last-child {
    color: #6b7280; /* Medium gray for values */
    font-size: 12px;
}

