button[color="warn"] {
    color: rgb(244, 40, 40) !important;
}

button[color="primary"] {
    color: rgb(56, 56, 239) !important;
}

button[color="warn"]:hover {
    color: darkred !important;
}

button[color="primary"]:hover {
    color: darkblue !important;
}

@keyframes squishBounceJump {
    0% {
      transform: scale(1) translateY(0);
    }
    25% {
      transform: scale(1.1) translateY(-10px);
    }
    50% {
      transform: scale(0.9) translateY(10px);
    }
    75% {
      transform: scale(1.1) translateY(-10px);
    }
    100% {
      transform: scale(1) translateY(0);
    }
  }
  
  
  
  button[mat-icon-button]:hover {
    animation: squishBounceJump 1s ease-in-out infinite;
  }
  .overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 50%;
    z-index: 1000;
}

.overlay-content {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
}

.data-box {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px 15px;
    flex: 1 0 45%; /* Two boxes per row */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}
