<!-- <router-outlet></router-outlet> -->
<p>appointment works!</p>
<div class="container">
    <!-- <hr>
    <h2 style="text-align: center; margin-top: 20px;">Admin Dashboard</h2>
    <a style="color: rgb(86, 86, 86); font-size: x-large;">
        <marquee behavior="scroll" direction="left">
            Welcome to Admin Dashboard. Please find the patient list below! Click Appointments to view and update
            appointments, Click Add Appointment to add new appointments.
        </marquee>
    </a>
    <hr>
    <a style="color: rgb(86, 86, 86); font-size: xx-large;">Current Patient List in the Queue</a> -->
    <button mat-raised-button color="primary" (click)="openDialog()">Add Appointment</button>
    <div class="tableFixHead">
        <br>
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th>Appointment ID</th>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Number</th>
                        <th>Symptoms</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let appointment of appointmentsList">
                        <td [ngStyle]="{'width': '10%'}">APPOIN_{{appointment.id}}</td>
                        <td [ngStyle]="{'width': '20%'}">{{appointment.name}}</td>
                        <td [ngStyle]="{'width': '10%'}">{{appointment.age}}</td>
                        <td [ngStyle]="{'width': '15%'}">{{appointment.number}}</td>
                        <td>{{appointment.symptoms}}</td>
                        <td [ngStyle]="{'width': '10%'}">
                            <button mat-icon-button color="warn" 
                                [@hoverEffect] 
                                (mouseover)="onHoverIcon()" 
                                (mouseleave)="onLeaveIcon()" 
                                (click)="deleteAppointment(appointment)" 
                                title="Delete Appointment">
                            <mat-icon>delete</mat-icon>
                        </button>

                        <button mat-icon-button color="primary" 
                                [@hoverEffect] 
                                (mouseover)="onHoverIcon()" 
                                (mouseleave)="onLeaveIcon()"
                                title="View Appointment"
                                (click)="showAppointment(appointment)">
                            <mat-icon>visibility</mat-icon>
                        </button>

                        </td>
                        
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div 
    *ngIf="isOverlayVisible" 
    class="fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-white p-6 rounded-lg shadow-lg w-3/4 z-50">
    <button 
        mat-icon-button 
        color="warn" 
        (click)="closeOverlay()" 
        class="absolute top-2 right-2 text-red-500">
        <mat-icon>close</mat-icon>
    </button>
    Appointment Details
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
        <div 
            *ngFor="let data of getAppointmentDetails(selectedAppointment)" 
            @blockAnimation 
            class="bg-blue-50 border border-gray-300 rounded-full p-4 text-center shadow-sm flex items-center justify-center"
        >
            <p class="font-bold text-gray-700">{{ data.label }}:   </p>
            <p></p>
            <p class="text-gray-600">{{ data.value }}</p>
        </div>
    </div>
</div>



