.table-header th {
    background-color: #007bff; /* Bootstrap primary color */
    color: white;
    text-align: center;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f2f2f2; /* Light grey for odd rows */
}

.table-striped tbody tr:nth-of-type(even) {
    background-color: #ffffff; /* White for even rows */
}

.table-bordered {
    border: 1px solid #dee2e6; /* Light grey border */
}

.table th, .table td {
    vertical-align: middle; /* Centers content vertically */
    text-align: center; /* Centers content horizontally */
    padding: 12px;
}
.table tr{
    padding: 12px;
}

.table {
    margin-bottom: 1rem;
    font-size: 20px;
}


.navbar {
    padding: 1rem;
}

.navbar-brand {
    color: chartreuse !important;
}

.nav-link.active {
    color: rgb(255, 0, 195) !important;
}

h2 {
    margin: 0;
}




.custom-navbar {
    background-color: #2a2a72; /* Set your desired background color */
    padding: 1rem; /* Add padding for better spacing */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: adds a shadow for a sleek look */
    border-bottom: 3px solid #1f1f55; /* Optional: adds a border at the bottom */
}

.navbar-title {
    color: #ffffff; /* Title text color */
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 1rem; /* Spacing between title and adjacent elements */
}

.navbar-brand {
    color: #00ff7f !important; /* Brand text color */
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
}

.nav-link {
    color: #ffffff !important; /* Link text color */
    font-size: 1rem;
    margin-left: 1rem; /* Add spacing between nav links */
    transition: color 0.3s ease; /* Smooth hover effect */
}

.nav-link:hover {
    color: #ffcc00 !important; /* Hover color */
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=UTF8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* Ensure responsive alignment */
@media (max-width: 768px) {
    .navbar-title {
        font-size: 1.2rem;
    }
}
button[color="warn"] {
    color: rgb(244, 40, 40) !important;
}

button[color=primary] {
    color: rgb(56, 56, 239) !important;
    position: absolute;
    right: 87px;
    }

button[color="warn"]:hover {
    color: darkred !important;
}

button[color="primary"]:hover {
    color: darkblue !important;
}

@keyframes squishBounceJump {
    0% {
      transform: scale(1) translateY(0);
    }
    25% {
      transform: scale(1.1) translateY(-10px);
    }
    50% {
      transform: scale(0.9) translateY(10px) perspective(500px);;
    }
    75% {
      transform: scale(1.1) translateY(-10px);
    }
    100% {
      transform: scale(1) translateY(0);
    }
  }
  
  
  
  button[mat-icon-button]:hover {
    animation: squishBounceJump 0.5s ease-in-out infinite;
  }





