<div @dialogAnimation class="dialog-top">
    <h2 mat-dialog-title class="dialog-container">Add appointment</h2>
    <div mat-dialog-content>
      <form #form="ngForm" class="form-container custom-spacing">
        <mat-form-field class="dialog-container">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Enter Patient name" name="name" ngModel required>
        </mat-form-field>
  
        <mat-form-field class="dialog-container">
          <mat-label>Age</mat-label>
          <input matInput type="number" placeholder="Enter your Age" name="age" ngModel required>
        </mat-form-field>
  
        <mat-form-field class="dialog-container">
          <mat-label>Blood Group</mat-label>
          <input matInput placeholder="Blood Group" name="bloodGroup" ngModel required>
        </mat-form-field>
  
        <mat-form-field class="dialog-container">
          <mat-label>Prescription</mat-label>
          <input matInput placeholder="Prescription" name="prescription" ngModel required>
        </mat-form-field>
  
        <mat-form-field class="dialog-container">
          <mat-label>Urgency</mat-label>
          <input matInput placeholder="Urgency" name="urgency" ngModel >
        </mat-form-field>
  
        <mat-form-field class="dialog-container">
          <mat-label>Dose</mat-label>
          <input matInput placeholder="Dose" name="dose" ngModel required>
        </mat-form-field>
      </form>
    </div>
    <div mat-dialog-actions>
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-button color="primary" [disabled]="form.invalid" (click)="onSubmit(form)">Submit</button>
    </div>
  </div>
  