<div @dialogAnimation>
  <h1 mat-dialog-title>Submit Form</h1>
  <div mat-dialog-content>
    <form #form="ngForm" class="form-container">
      <mat-form-field class="full-width">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Enter your name" name="name" ngModel required>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Age</mat-label>
        <input matInput type="number" placeholder="Enter your Age" name="age" ngModel required>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Phone Number</mat-label>
        <input matInput type="tel" placeholder="Phone Number" name="number" ngModel required>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Symptoms</mat-label>
        <input matInput placeholder="Symptoms" name="symptoms" ngModel required>
      </mat-form-field>
    </form>
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button color="primary" [disabled]="form.invalid" (click)="onSubmit(form)">Submit</button>
  </div>
</div>